<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/contato.css">
    <link rel="icon" type="image/png" href="/img/contatotitle.png"/>
    <title>Contato</title>
</head>
<body>
    <header>
        <div class="perfil">
            <div class="icone"><img src="/img/logo.PNG" alt="logo"></div>
            <div class="menu">
                <a href="/index.html"><p>Projetos</p></a>
                <a href="/components/sobre.html"><p>Sobre mim</p></a>
                <a href="/components/contato.html"><p>Contato</p></a>
            </div>
        </div>
    </header>
    <section>
        <h1>Entre em contato</h1>
        <div class="imagens">
            <div class="contate">
            <p>Contato diretamente por:</p>
            </div>
            <div class="contato">
           <p> Email:<a href="https://mail.google.com/mail/u/0/?ogbl#inbox?compose=CllgCJfrtRpcQqHhCWBLSwTnDFrTQXTQZzZFzkPptVmGWmdznPbtzLzqfbCdJXNmJzxnsjLDDVq"> marianajulia9235@gmail.com</p></a>
           <p> Telefone: +55 (11)</p>
            </div>
            <div class="msg">
           <p>Para conhecer mais do meu trabalho, siga nas redes sociais:</p>
            </div>
            <div class="icones">
            <a href="https://www.instagram.com/mariana_interiores0/"><img src="/img/instagram.png"></a>
            <a href="https://api.whatsapp.com/send/?phone=5511916886887&text=Olá%2C+Mariana.+Encontrei+seu+n%C3%BAmero+pelo+seu%20site.%20Podemos%20conversar?&type=phone_number&app_absent=0"><img src="/img//whatsapp.png"></a>
            <a href="https://pin.it/31h9ULn"><img src="/img/pinterest.png"></a>
            </div>
        </div>
    </section>

    <footer>Feito com &hearts; &copy;Mariana Gonçalves</footer>
</body>
</html>
