<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/rede-socialtitle.png"/>
    <link rel="stylesheet" href="/components/sobre.css">
    <title>Sobre mim</title>
</head>
<body>
    <header>
        <div class="perfil">
            <div class="icone"><img src="/img/logo.PNG" alt="logo"></div>
            <div class="menu">
                <a href="/index.html"><p>Projetos</p></a>
                <a href="/components/sobre.html"><p>Sobre mim</p></a>
                <a href="/components/contato.html"><p>Contato</p></a>
            </div>
        </div>
    </header>

    <section>
        <div class="sobre">
        <h1>Sobre mim</h1>
        </div>
        <div class="imagem">
        <img src="/img/mari.jpeg" alt="mari">
        </div>
        <div class="conteudo">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid et architecto praesentium esse fuga. Autem, eum quaerat. Soluta magni et adipisci, quod magnam harum ratione doloremque mollitia odit iure qui?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam a reprehenderit ipsa, exercitationem, explicabo quis magni provident pariatur similique nobis consequuntur deleniti amet id sunt assumenda laborum voluptates cumque numquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ipsam deserunt omnis quod porro quia earum corrupti commodi soluta perferendis. Corporis asperiores ratione nemo adipisci odit cum, facere qui eligendi?</p>
        </div>
        <div class="conteudo2">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus a, atque, sequi error, consequatur delectus nam eligendi culpa animi obcaecati quod libero nulla iusto cupiditate! Possimus eius provident at veritatis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo laboriosam enim hic cupiditate alias minus corrupti accusantium rerum fuga nostrum saepe quidem laborum, temporibus neque, ipsa possimus error! Quisquam, hic. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolores consequuntur cum, libero, quibusdam soluta voluptatem quo incidunt qui consequatur quisquam esse maiores dolor? Sint dolor impedit delectus vitae possimus.</p>
        </div>
        <div class="conteudo3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente voluptatem nemo ut, delectus praesentium, tenetur dolorem, ab quia obcaecati modi mollitia perferendis aut facilis expedita. At alias quaerat velit officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, officia. Quia expedita iusto, ex facere dolorum adipisci maiores sint porro inventore, explicabo ipsum dolor, nulla neque deserunt quaerat nihil quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut quaerat explicabo odit doloremque. Est, odit explicabo rerum totam quae delectus molestias at quas deleniti officiis, adipisci excepturi. Enim, mollitia rerum! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla, delectus quibusdam suscipit impedit incidunt, eius numquam, possimus ullam quia sit voluptates nam a odit fuga quidem dolorem iste excepturi tempora!</p>
        </div>
    </section>

    <footer>Feito com &hearts; &copy;Mariana Gonçalves</footer>
</body>
</html>